<div [style.padding.px]="10">

  <mat-card class="mat-elevation-z8">
    <h2 class="mat-h2"> Sign up</h2>
    <span>
      We do not use your information for any purpose rather than demonstration.
      <br>
      The email is needed for account activation.
      <br>
    </span>
    <br>
    <mat-card-content class="container">

      <form class="register-form" [formGroup]="register" (ngSubmit)="onRegister()">
        <!-- fxLayout="row" fxLayoutGap="20px" -->
        <div>
          <div fxLayout="column">
            <div fxLayout="column" fxLayoutAlign="center" class="row">
              <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                <mat-form-field>
                  <input matInput placeholder="First name" formControlName="firstName">
                  <mat-icon matSuffix>face</mat-icon>
                  <mat-error
                    *ngIf="register.get('firstName').hasError('required') && register.get('firstName').touched">
                    First name is required
                  </mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Last name" formControlName="lastName">
                  <mat-icon matSuffix>face</mat-icon>
                  <mat-error *ngIf="register.get('lastName').hasError('required') && register.get('lastName').touched">
                    Last name is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="center stretch" class="row">
              <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                <mat-form-field>
                  <input matInput placeholder="Email" formControlName="email">
                  <mat-icon matSuffix>email</mat-icon>
                  <mat-error *ngIf="register.get('email').hasError('email') && register.get('email').touched">
                    Please enter a valid email address
                  </mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Company" formControlName="company">
                  <mat-icon matSuffix>location_city</mat-icon>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="center stretch" class="row">
              <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start">
                <mat-form-field>
                  <input matInput placeholder="Job title" formControlName="jobTitle">
                  <mat-icon matSuffix>group</mat-icon>
                  <mat-error *ngIf="register.get('jobTitle').hasError('jobTitle') && register.get('jobTitle').touched">
                    Please enter your job title
                  </mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Years of exp." formControlName="yearsOfExperience">
                  <mat-icon matSuffix>star_half</mat-icon>
                  <mat-error *ngIf="register.get('yearsOfExperience').hasError('maxlength')">
                    Invalid years of exp.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="center stretch" class="row">
              <div fxLayout="row" fxLayoutGap="10px">
                <button type="button" mat-raised-button (click)="addField()">
                  Add social profile
                </button>
              </div>
              <br>
              <div formArrayName="socialProfiles">
                <div *ngFor="let url of socialFields.controls; let i=index" [formGroupName]="i">
                  <div fxLayout="row" fxLayoutGap="10px">
                    <mat-form-field>
                      <input matInput placeholder="URL" formControlName="url">
                      <mat-icon matSuffix>link</mat-icon>
                    </mat-form-field>
                  </div>

                </div>
              </div>
            </div>
            <div class="row">
              <button [disabled]="!register.valid" mat-raised-button color="primary">
                Sign up
              </button>
              &nbsp;
              <button (click)="goTo('home')" type="button" mat-raised-button>
                Cancel
              </button>
            </div>
          </div>

        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
