<div [style.padding.px]="10">
  <h2 class="mat-h2">🙋 Register</h2>
  <mat-card>
    <mat-card-content class="container">
      <form class="register-form" [formGroup]="register" (ngSubmit)="onRegister()">
        <!-- fxLayout="row" fxLayoutGap="20px" -->
        <div>
          <div fxLayout="column">
            <div fxLayout="column" fxLayoutAlign="center stretch" class="row">
              <div fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="start center">
                <mat-form-field>
                  <input matInput placeholder="First name" formControlName="firstName">
                  <mat-icon matSuffix>face</mat-icon>
                  <mat-error *ngIf="register.get('firstName').hasError('required') && register.get('firstName').touched">
                    First name is required
                  </mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Last name" formControlName="lastName">
                  <mat-icon matSuffix>face</mat-icon>
                  <mat-error *ngIf="register.get('lastName').hasError('required') && register.get('lastName').touched">
                    Last name is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="center stretch" class="row">
              <div fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="start center">
                <mat-form-field>
                  <input matInput placeholder="Email" formControlName="email">
                  <mat-icon matSuffix>email</mat-icon>
                  <mat-error *ngIf="register.get('email').hasError('email') && register.get('email').touched">
                    Please enter a valid email address
                  </mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Company" formControlName="company">
                  <mat-icon matSuffix>work</mat-icon>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="column" fxLayoutGap="40px" fxLayoutAlign="center stretch" class="row">
              <div fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="start">
                <mat-form-field>
                  <input matInput placeholder="Job title" formControlName="jobTitle">
                  <mat-icon matSuffix>emoji_people</mat-icon>
                  <mat-error *ngIf="register.get('jobTitle').hasError('jobTitle') && register.get('jobTitle').touched">
                    Please enter your job title
                  </mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Years of experience" formControlName="yearsOfExperience">
                  <mat-icon matSuffix>history</mat-icon>
                  <mat-error *ngIf="register.get('yearsOfExperience').hasError('maxlength')">
                    Invalid experience
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="center stretch" class="row">
              <div fxLayout="row" fxLayoutGap="10px">
                <button type="button" mat-button (click)="addField()">Add social profile</button>
              </div>
              <div formArrayName="socialProfiles" fxLayout="row" fxLayoutGap="40px" fxLayoutWrap>
                <div *ngFor="let url of socialFields.controls; let i=index" [formGroupName]="i">
                  <mat-form-field>
                    <input matInput placeholder="URL" formControlName="url">
                    <mat-icon matSuffix>link</mat-icon>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row">
              <button [disabled]="!register.valid" mat-raised-button color="primary">Register</button>
              &nbsp;
              <button type="button" mat-button>Cancel</button>
            </div>
          </div>

        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
