<div [style.padding.px]="10">
    <h2 class="mat-h2">🗺 Location </h2>
    <mat-card>
        <mat-card-content>
            <mat-tab-group>
                <mat-tab label="NashTech HCM">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15676.511492091135!2d106.640723!3d10.801517!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb7ce4406b2d0bb8b!2sC%C3%B4ng%20ty%20TNHH%20Harvey%20Nash%20Vi%E1%BB%87t%20Nam!5e0!3m2!1svi!2s!4v1568190525952!5m2!1svi!2s" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </mat-tab>
                <mat-tab label="NashTech HN">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14895.660979906486!2d105.783287!3d21.036077!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x59de08bd40527567!2sNashTech%20Hanoi!5e0!3m2!1svi!2s!4v1568190450562!5m2!1svi!2s" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </mat-tab>
            </mat-tab-group>

        </mat-card-content>
    </mat-card>
</div>