<mat-toolbar color="primary" class="mat-elevation-z6">

  <span (click)="toggleSidenav()">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </span>

  <span *ngIf="authenticated"> ✅ <strong> {{userInfo.profile.given_name}}
      {{userInfo.profile.family_name}}</strong></span>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <span *ngIf="!authenticated">
    <button mat-icon-button fxHide fxShow.lt-sm (click)="login()">
      <mat-icon>account_box</mat-icon>
    </button>

    <button mat-raised-button fxHide.lt-sm (click)="login()">
      <mat-icon>account_box</mat-icon> Login
    </button>
  </span>

  <span *ngIf="authenticated">
    <button mat-icon-button fxHide fxShow.lt-sm (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
    <button mat-raised-button fxHide.lt-sm (click)="logout()">
      <mat-icon>exit_to_app</mat-icon> Logout
    </button>
  </span>
</mat-toolbar>
