.container{
    padding: 20px;
    .keyin-form{
        .row{
            margin-bottom: 20px;            
              h3{
                  margin-bottom: 10px !important;
              }              
        }
        pre{
            width: 300px;
            background-color: #FAFAFA;
        }
    }
    .task{
        min-width: 60%;
    }

    .duration{
        min-width: 10%;
    }

    mat-form-field[hidden] {
        display: none;
    }
}